<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. EXCEPTION : Ne pas rediriger si on accède au dossier admin
    RewriteCond %{REQUEST_URI} !^/admin/

    # 2. Si l'URL contient déjà "public/", on ne fait rien non plus
    RewriteCond %{REQUEST_URI} !public/

    # 3. Pour tout le reste, on redirige vers le dossier public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>